<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/moviescss.css') }}">
        <link rel="icon" type="image/png" href='{{ asset('img/Movies-icon.png')}}' />
        <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
        <title>{% block title %}Movies!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header class="container">
                <div id="header-jumbo" class="d-flex flex-row jumbotron" >
                    <a href="{{ path('home') }}">
                        <img id="header-logo" class="p-2" src="{{ asset('img/icon.png') }}" alt="Movies logo">
                        <div id="header-title"><a href="{{ path('home') }}">Movies!</a></div>
                    </a>

                </div>
                <br>
                <nav>
                    <ul class="nav navbar-default">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('register') }}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('login') }}">Log in</a>
                        </li>

                        {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('logout') }}">{{ app.user }} - Log out</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>

            </header>

            <hr>

            {# Affiche les flash messages s'ils existent#}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <main>
                {% block main %}{% endblock %}
                {% block javascripts %}{% endblock %}
            </main>

            <hr>

            <footer>
                <br>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('home') }}">Home</a>
                    </li>
                </ul>

                <p align="center">&copy; {{ "now"|date("Y") }} Movies</p>
            </footer>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="{{ asset('js/moviesjs.js') }}"></script>


        </div>
    </body>

</html>
