{% extends 'base.html.twig' %}

{% block main %}
    <h1>List of users </h1>

    <div class="container flex" >
    {% for user in users %}
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ user.username }}</div>
            <div class="card-body text-white">
                <p class="card-text">{{ user.critiques|length }} reviews </p>
                <p>registered since {{ user.dateRegistered|date('Y-m-d') }}</p>
                <a href="{{ path('admin_user_reviews',{id:user.id}) }}" class="btn btn-light margin">See his reviews</a>
                <a href="{{ path('admin_user_delete',{id:user.id}) }}" class="btn btn-danger margin">Delete this user</a>

            </div>
        </div>
    {% endfor %}
    </div>



{% endblock %}

{% block title %}Liste Users - Admin |{{ parent() }}{% endblock %}