{% extends 'base.html.twig' %}

{% block main %}
    <h1>List of reviews </h1>
    {% if libelle is defined %}
        <h3>{{ libelle }}</h3>
     {% endif %}
    <div class="container flex" >
        {% for review in reviews %}
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-header">Review from {{ review.user.username }}</div>
                <div class="card-body text-white">
                    <p class="card-text">{{ review.title }} reviews </p>
                    <p>r{{ review.content}}</p>
                    <a href="{{ path('admin_reviews_delete',{id:review.id}) }}" class="btn btn-danger margin">Delete this review</a>

                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}

{% block title %}Liste Users - Admin |{{ parent() }}{% endblock %}