{% extends 'base.html.twig' %}

{% block main %}


    <h1>{{ movie.title }} - {{ movie.year }}</h1>
    <div class="row align-items-center justify-content-around" style="background-image: url({{ asset('backdrops/'~movie.imdbId~'.jpg')}})">

        <div class="col-sm-7 col-md-6 col-lg-5" >
            <img src="{{ asset('posters/'~movie.imdbId~'.jpg')}}" alt="poster film">
        </div>
        <div id="movie-infos" class="col-sm-4  col-md-5  col-lg-6 ">

            <h4>Plot</h4>
            <div>{{ movie.plot}}</div>

            <h5>Stars</h5>
            <div>Actors :
                {% for actor in movie.actors %}
                    {{ actor.name }} -
                {% endfor %}</div>

            <div>Directors :
                {% for director in movie.directors %}
                    {{ director.name }} -
                {% endfor %}</div>

            <div>Writers :
                {% for writer in movie.writers %}
                    {{ writer.name }} -
                {% endfor %}</div>

            <br>
            <h5>Infos</h5>
            <div>
                Runtime : {{ movie.runtime }} min | Note : {{ movie.rating }} / 10 - <span class="italique"> {{ movie.votes }} votes </span>

            </div>

            <div>Genres : {{ movie.genres|join(' | ') }}</div>
            <br>
            https://youtu.be/ue80QwXMRHg



        </div>
    </div>
    <br>
    <div class="trailer">
    <iframe width="400" height="225" src="https://www.youtube.com/embed/{{ movie.trailerId }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <!----> <div><a href="https://youtu.be/">voir le trailer sur Youtube </a></div>
    </div>
    <hr>
    <div>
        <h6>Reviews </h6>
    </div>
    {% for critique in movie.critiques %}
        <li class="list-group-item black">
            <div class=>Review of <span id="auteur">{{ critique.user }}</span>
                - crée le {{ critique.dateCreated|date("d-m-Y") }}
                <div>{{ critique.content }}</div>
        </li>
    {% endfor %}
    <br>
    <hr>

    <div>
        <h6> Post your review ! </h6>
        {{ form_start(critiqueForm,{attr: {'novalidate':'novalidate'}}) }}{# c'est le controller qui se charge d'afficher cettepage  donc on doit y créer todoForm#}
        {{ form_widget(critiqueForm) }}
        <button type="submit" class="btn btn-outline-primary">Envoyer !</button>
        {{ form_end(critiqueForm) }}
    </div>
{% endblock %}

{% block title %}{{ movie.title }} |{{ parent() }}{% endblock %}
