{% extends 'base.html.twig' %}

{% block main %}
    <div style="background-image: url('../img/bobine3.jpg');">
        <h1>Others movie with this person </h1>

        <div class="container center">
            <div class="row">
                {% for movie in movies %}
                    <div class="card mb-3" style="width: 13rem;">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ asset('posters/'~movie.imdbId~'.jpg') }}" alt="Card image cap">
                        </div>
                        <div class="card-footer text-muted">
                            <a href="{{ path('movie_detail',{id: movie.id}) }}" class="btn btn-dark margin">See more</a>
                            {% if is_granted('ROLE_USER') %}

                                <a data-ajax-url="{{ path('api_watchlist_add',{imdbId: movie.imdbId}) }}" href="{{ path('watchitem',{imdbId: movie.imdbId}) }}" class="btn btn-danger js-add-wl-btn {{ movie.imdbId }}-add" >
                                    Add to my watchList
                                </a>
                                <a data-ajax-url="{{ path('api_watchlist_delete',{imdbId: movie.imdbId}) }}" href="{{ path('watchdelete',{imdbId: movie.imdbId, pageOrigine:'home'}) }}" class="btn btn-info js-remove-wl-btn hidden {{ movie.imdbId }}-remove">
                                    Remove from watchList
                                </a>

                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

